@import "../../styles-sass/variables";
.ItemListContainer {
    display: flex;
    justify-content: center; // Centra horizontalmente
    align-items: center;     // Centra verticalmente
    height: 80vh;            // Altura para que se note el centrado vertical
    font-size: 1.5rem;
    background-color: $colorTerciario;
    color: #333;
}