
@import "../../styles-sass/variables";
.navBar {
    background-color: $colorPrincipal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    img {
        height: 100px;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;

            li {
                font-weight: bold;
            }
    }

    
}